<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Goals</title>
</head>
<body>
<h1>Goals List</h1>
<a href="/goals/create">Create New Goal</a>
<ul>
    <li th:each="goal : ${goals}">
        <span th:text="${goal.title}">Title</span> - <span th:text="${goal.status}">Status</span>
        <a th:href="@{/goals/{id}(id=${goal.goalId})}">View</a>
        <a th:href="@{/goals/edit/{id}(id=${goal.goalId})}">Edit</a>
        <a th:href="@{/goals/delete/{id}(id=${goal.goalId})}">Delete</a>
    </li>
</ul>
</body>
</html>
